<div class="wrapper" id="wrapper">
	<nav class="nav" (clickOutside)="showSidebar = false">
		<ul class="nav__ul container" [class._active]="showSidebar">
			<core-topbar (navigated)="showSidebar = false"></core-topbar>
			<li class="nav__li _burger" (click)="showSidebar = !showSidebar">
				<a class="nav__toggle" [class._active]="showSidebar">
					<span class="nav__toggle-line"></span>
				</a>
			</li>
		</ul>
	</nav>

	<div class="main" [class.showTable]="showSidebar">
		<div class="fade" [@showInOut]="showSidebar" *ngIf="showSidebar"></div>
		<div class="nav__burger _active" [class._active]="showSidebar">
			<div class="nav__burger-list">
				<div class="theme-switch">
					<span
						class="material-icons"
						(click)="us.setMode(us.mode === 'dark' ? 'white': 'dark')"
					>
						{{us.mode === 'dark' ? 'dark_mode': 'light_mode'}}
					</span>
				</div>
				<a
					class="nav__burger-link nav__burger-user"
					routerLink="/profile"
				>
					<img
						[src]="forceAvatarUrl || us.user.thumb ? url + us.user.thumb : 'assets/default.png'"
						(error)="forceAvatarUrl = 'assets/default.png'"
						alt="Profile Picture"
						class="avatar__img"
						height="50"
						width="50"
					/>
					<div class="name">{{us.user.name || "Profile"}}</div>
				</a>
				<hr />
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/users"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">people</span>
					<span translate>Theme.Users</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/partners"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">badge</span>
					<span translate>Theme.Partners</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/translates"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">translate</span>
					<span translate>Theme.Translates</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/interns"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">work</span>
					<span translate>Theme.Interns</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/commerces"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">business</span>
					<span translate>Theme.Commerces</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/tools"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">construction</span>
					<span translate>Theme.Tools</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/skills"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">history_edu</span>
					<span translate>Theme.Skills</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/professions"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">work_outline</span>
					<span translate>Theme.Professions</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/businesses"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">business_center</span>
					<span translate>Theme.Businesses</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/agencies"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">business</span>
					<span translate>Theme.Agencies</span>
				</a>
				<hr *ngIf="us.role('admin')" />
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/portfolios"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">work</span>
					<span translate>Theme.Portfolios</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/contracts"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">email</span>
					<span translate>Theme.Contracts</span>
				</a>
				@for (role of applyRoles; track role) {
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/users/{{role}}"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">{{iconForRole[role]}}</span>
					<span>{{'Theme.' + role + 's' | translate}}</span>
				</a>
				}
				<hr />
			</div>
		</div>
		<router-outlet></router-outlet>
	</div>
</div>
